[Unit]
Description=CentOS Mirrorlists - instance %i
After=network.target

[Install]
WantedBy=multi-user.target
Alias=centos-mirrorlist.target

[Service]
Type=simple
User=centos
WorkingDirectory=/var/lib/centos-mirrorlist/
ExecStart=/usr/bin/python /usr/lib/python2.7/site-packages/bottle.py -b :800%i -s paste ml

